

# Server
SERVER_IP=103.56.160.96     

# PostgreSQL
DB_USER=admin
DB_PASSWORD=password123             
DB_NAME=obu_database

MQTT_HOST=tcp://103.56.160.96
MQTT_PORT=1883
MQTT_USERNAME=
MQTT_PASSWORD=
MQTT_CLIENT_ID=obu_backend_listener
